<div class='card-container'>
  {{#each beersFromApi}}
    <img width='200' src='{{this.image_url}}' alt='{{this.name}}' />
    <p>Name: {{this.name}}</p>
    <p>Description: {{this.description}}</p>
    <p>Tagline: {{this.tagline}}</p>
  {{else}}
    <p>No beers avariable.</p>
  {{/each}}
</div>